site_name: My Dev Knowledge Base
nav: 
 - Home : index.md
 - Salesforce :
   - Formstack : Salesforce/Formstack.md
   - JSON-to-SObject : Salesforce/JSON-to-SObject.md
   - SobjectChangeHandler : Salesforce/SobjectChangeHandler.md
   - VirtualRemoteAssistant : Salesforce/VirtualRemoteAssistant.md
   - gitFlow : Salesforce/gitFlow.md
   - parseDate : Salesforce/parseDate.md
 - Mulesoft : 
   - AzureKeyVault : Mulesoft/AzureKeyVault.md
theme:
  name: material
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
